# SVT-AV1 for video compression with high quality and efficiency

preset=6
# Default = 6, reduce it for smaller file size, increase it for faster encoding.
# To keep the quality of the outputs, do not exceed 8.

crf=30
#
